
{% include "Base.html" %}

<head>


<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>    <meta charset="UTF-8">


<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Estilo.css') }}">
        <title>CV</title>



<style>
body {
      background: none;
      background-color: Darkgrey;
}
</style>
</head>

<body>

    <div  class="ab_center">
<div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="es_ES" data-type="vertical" data-theme="dark" data-vanity="gonzalo-balonga-23b398a8"><a class="LI-simple-link" href='https://ar.linkedin.com/in/gonzalo-balonga-23b398a8/es-es?trk=profile-badge'>Gonzalo Andres Balonga Falcone</a></div>
    </div>



</body>
</html>
