{% include "Base.html" %}

<head>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Estilo.css') }}">
         <title>Principal</title>
</head>


<link rel="stylesheet" type="text/css" href="../static/css/Cv.css">

<div class="container">
  <div class="word_split wrapper">
  <span class="word word1">Gonzalo</span>
  <span class="word word2">Balonga </span>
  <span class="word word3">Ingenieria</span>
  <span class="word word4">Procesos</span>
  <span class="word word10">Lean Manufacturing</span>
  <span class="word word5">Mecanica</span>
  <span class="word word6">Automatizacion</span>
  <span class="word word7">Programacion</span>
  <span class="word word8">Data Analytics</span>
  <span class="word word13">Data Visualization</span>
  <span class="word word12">Simulacion</span>

